/Temp/
/obj/
/Project.csproj
/Project.pidb
/Project.sln
/Project.suo
/Project.userprefs
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
/Kalos Reclamation.suo
/Project-csharp.sln
/Project-csharp.suo
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-firstpass.pidb
/Assembly-CSharp.pidb
/Assembly-UnityScript-firstpass.pidb
/*.unityproj
